DB_HOST=localhost
DB_USER=fake_user #metti il tuo nome di mysql, es. root
DB_PASSWORD=fake_password #metti la tua password di mysql, es.root
DB_NAME=fake_server_name #il nome del nostro server (gamify_db)